@{
    ViewBag.Title = "РИВ ГОШ - Магазин парфюмерии и косметики";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="https://i.ibb.co/2WmyFK0/icon.png" type="image/png" />

    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <td class="main-text">
                <img src="img\Без названия2836_20230911181008.webp" alt="Рив Гош" class="photo1">
                <H1>О нас</H1>
                <p>
                    «Rive Gauche» в переводе с французского означает «Левый берег» — известный парижский квартал, в котором собиралась вся столичная богема и высшее общество. Его атмосфера, сотканная из тысяч разговоров о высоком, картин, зарифмованных строк и метров отснятой киноплёнки, стала вдохновением для создания в Петербурге в 1995 году премиального магазина парфюмерии и косметики, положившего начало одной из крупнейших федеральных сетей в индустрии красоты.
                    <br />
                    Сегодня у компании РИВ ГОШ более 250 магазинов по всей России, в которых представлено множество эксклюзивных брендов косметики и нишевой парфюмерии. Кроме того, активно развивается производство собственных торговых марок.
                    <br />
                    Каждый день мы стремимся быть лучшими проводниками в мир косметических трендов и воплощать в своих магазинах французские традиции сервиса и красоты.
                </p>
                <br />
                <p>В далеком 1995 году супругами Карабань был основан магазин, продающий косметику и парфюмерию и носящий название Рив Гош. Но в 2007 году 3/4 активов были выкуплены Олегом Бойко. С этого момента началось активное расширение, приведшее к организации целой сети типовых магазинов.</p>
                <br />
                <p>В 2012 году Бойко продал контрольный пакет акций, в размере 51%, совладельцам торговой сети «Лента».</p>

                <br />
                <br />
                <table border="3" cellpadding="20" cellspacing="5" border-color="purple" style="text-align: justify;">
                    <tr>
                        <td rowspan=3>Совместными усилиями всех владельцев, сеть, на сегодняшний день, объединяет более 6.500 сотрудников и несколько сотен магазинов, локализующихся в Санкт-Петербурге, Москве, Сочи, Казани, Владивостоке, Калининграде и других крупных городах России.</td>
                        <td align="center" colspan=2>В Рив Гош предлагается парфюмерия, для</td>
                    </tr>
                    <tr>
                        <td align="center">Индивидуального применения.</td>
                        <td>Для ароматизации помещений – в этой категории можно приобрести ароматические свечи, диффузоры и специальные ароматизаторы.</td>
                    </tr>
                    <tr>
                        <td>
                            Для тех, кто не уверен в своем выборе или, наоборот, хочет сделать оригинальный подарок – Рив Гош подготовил специальные подарочные наборы, которые включают не только ароматические композиции, но также уходовые средства для тела. Есть также наборы, которые объединяют в себе люксовые ароматы со стильными косметичками.
                        </td>
                        <td>
                            Любителям путешествовать и при этом не расставаться со своими любимыми ароматами, Рив Гош предлагает специальные парфюмерные наборы, которые могут состоять из нескольких флаконов одного и того же любимого аромата или, наоборот, включать небольшие емкости самых разнообразных запахов, принадлежащих, как правило, одной серии.
                        </td>
                    </tr>
                </table><BR>

                <br />
                <br />
                <p>В зависимости от класса, можно выделить такие группы ароматов, как:</p><BR>
                <ul type="circle">
                    <li> Люксовая парфюмерия. К этой группе стандартно относятся ароматы, попадающие в категорию дорогих, но в то же время являющихся наиболее известными, как по своим индивидуальным названиям, так и по брендам, их представляющим. Сюда можно отнести – Elie saab, Dior, Chloe, Chanel, Kenzo, Guerlain, Nina Ricci, Gucci, Tom Ford (который не так давно стал одним из любимцев люксовых ароматов у широкого круга потребителей), ну и, конечно, многие другие.
                    <li> Нишевая или, так называемая, селективная парфюмерия все больше и больше завоевывает рынок. Название брендов, возможно, не так распространены и хорошо известны широкому кругу любителей парфюмов. Но истинные ценители прекрасно знают цену таким брендам, как Nasomatto, Ajmal, Molinard, Montale, Byredo, Molecule, Victorius Boadiccea и многие другие. Отличительной особенностью является то, что в преобладающем большинстве случаев для селективной парфюмерии используются натуральные компоненты, включающие в себя абсолю, экстракты, эфирные масла и другие выжимки из растений, деревьев, мускуса и прочего, что может быть использовано при изготовлении парфюмерных ароматов. В селективной парфюмерии все чаще встречаются ароматы группы унисекс, что стало предельно популярно в последнее время.
                </ul>
                <br />
                <p>Раздел макияжа потрясает воображение своим богатством выбора, неповторимыми палитрами и текстурами.</p>
                <br />
                <p>Женщины и мужчины могут выбрать:</p>
                <ol type="a">
                    <li> Средства для ухода и коррекции кожи лица. Сюда относятся тональные крема, консилеры и корректоры, пудры, бронзеры, хайлайтеры, румяна и праймеры.
                    <li> В раздел по макияжу глаз, входят туши для ресниц и бровей, а также карандаши для подводки края век, тени, скомпонованные в палетки и одиночные изделия, жидкие подводки.
                    <li> Макияж для губ включает в себя самые невероятные по текстурам и оттенкам помады, бальзамы, блески и карандаши для формирования контура губ.
                </ol>
                <br />
                <p>Очень удобно воспользоваться различными дисконтными программами. Для этого необходимо завести непосредственно на кассе при покупке, карту клиента Рив Гош.</p>
                <br />
                <ol type="A">
                    <li>
                        Дисконтные карты Рив Гош<ol type="a">
                            <li>
                                Стандартная оформляется при единоразовой покупке, стартующей при сумме от 300 руб. По ней скидка может доходить всего лишь 5%.
                            </li>
                            <li>
                                Карта золотого клиента Рив Гош также оформляется на косе, но в случае совершения единоразовой покупки на сумму от 10000 руб. Здесь потолок скидки составляет 25%.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Подарки и купоны Рив Гош

                    </li>
                </ol>

    </td>
    <script src="js/site.js"></script>
</body>
</html>	