@{
	ViewBag.Title = "РИВ ГОШ - Магазин парфюмерии и косметики";
	Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.ibb.co/2WmyFK0/icon.png" type="image/png" />

    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <title>Страница Контакты</title>
</head>
<body>
    <td class="main-text">
</body>
</html>