<!doctype html>
<html lang="ru">
<head>
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<title>РИВ ГОШ - Магазин парфюмерии и косметики</title>
</head>
<body>
	<table class="header-table">
		<tr>
			<td width="40"></td>
			<td width="220px">
				<a href="\index.html">
					<img src="\img\riv-gosh-logo.webp" alt="Логотип">
			</td>
			<td>
				<H1>РИВ ГОШ</H1>
			</td>
			<td width="200px">
				<table width="100%">
					<tr>
						<td class="login"><input type="text" placeholder="логин"></td>
					</tr>
					<tr>
						<td class="login"><input type="password" placeholder="пароль"></td>
					</tr>
					<tr>
						<td class="login"><input type="submit" value="войти">&nbsp;<A class="regist" HREF="#">Регистрация</A></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table class="table-divider">
		<tr>
			<td class="links-list">
				<a href="\html\1.html">Каталог</a>
				<a href="\html\2.html">Бренды</a>
				<a href="\html\3.html">Контакты</a>
				<a href="\html\4.html">Экспресс-доставка</a>
			</td>
			<td class="search"><input type="text" placeholder="Поиск товара или бренда"> <input type="button" value="искать"></td>
		</tr>
	</table>
	<BR>
	<table class="table1">
		<tr>
			<td class="left-menu">
				<a href="\html\5.html">Акции</a><BR>
				<a href="\html\6.html">Новинки</a><BR>
				<a href="\html\7.html">Эксклюзивно</a><BR>
				<a href="\html\8.html">Скидки месяца</a><BR>
			</td>

			<td class="main-text">
			</td>
			<td class="banners">

				<a href="https://rivegauche.ru/blog/tipy-i-sostojanija-kozhi">
					<img src="\img\man.webp" alt="Типы и состояния кожи">
					<p>
						<a href="#">
							<h2>Типы и состояния кожи</h2>
							Вы наверняка знаете свой тип кожи. Но что делать, если нормальная кожа сильнее блестит, а на сухой возникают воспаления? Разбираемся в вопросе с врачом-дерматологом.
					</p>
				</a>
				<BR><BR>

				<a href="https://rivegauche.ru/product/nina-ricci-nina-le-parfum-eau-de-parfum-30/?erid=LdtCKQUE6">
					<img src="\img\parfume.webp" alt="NINA LE PARFUM">
					<p>
						<a href="#">
							<h2>NINA LE PARFUM</h2>
							Не просто новая глава, а начало новой, блистательной эры для парфюмерной вселенной бренда Nina Ricci.
							Фруктово-цветочная древесная парфюмерная вода с уникальным притягательным характером.
							Полностью веганский аромат: не тестируется на животных и не содержит ингредиентов животного происхождения.
					</p>
				</a>
				<BR><BR>

				<a href="https://rivegauche.ru/product/paco-rabanne-invictus-victory-elixir-parfum-intense-50/?erid=LdtCJzFGe">
					<img src="\img\flacons.webp" alt="INVICTUS VICTORY ELIXIR">
					<p>
						<a href="#">
							<h2>INVICTUS VICTORY ELIXIR</h2>
							Новый триумфальный аромат для мужчин от Paco Rabanne
							Новая парфюмерная вода для мужчин Invictus Victory Elixir – благородный амбровый древесно-пряный эликсир. Он сочетает в себе безупречность древесных нот, таинственность ладана, гурманскую сладость бобов тонка.
							Аромат заключен во флакон в виде кубка, чтобы в очередной раз напомнить: ежедневное преодоление трудностей делает каждого из нас чемпионом.
					</p>
				</a>
				<BR><BR>
			</td>

		</tr>

		<tr class="footer">
			<td>
				&copy; 2023 Все права защищены
			</td>
		</tr>
	</table>
</body>
</html>	