﻿
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <title> @ViewBag.Title </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <table class="header-table">
        <tr>
            <td width="40"></td>
            <td width="220px">
                <a href="/">
                    <img src="~/img/riv-gosh-logo.webp" id='header-table_img' class="header-table_img" alt="Логотип" href="/Home/Login">
                </a>
            </td>
            <td>
                <H1>РИВ ГОШ</H1>
            </td>
            <td width="50px">
                <a href="/Home/Login">
                    <img id='login_icon' class='login_icon' img src="https://i.ibb.co/Ny5Yb7h/Login.png" alt="Войти в систему" />
                </a>
            </td>
        </tr>
    </table>
    <table class="table-divider">
        <tr>
            <td class="links-list">
                <a href="/Home/Catalog">Каталог</a>
                <a href="/Home/Page1">Бренды</a>
                <a href="/Home/Contacts">Контакты</a>
                <a href="/Home/Reviews">Отзывы</a>
            </td>
            <td class="search"><input type="text" placeholder="Поиск товара или бренда"> </br> <input type="button" value="искать"></td>
        </tr>
    </table>
    <BR>
    <table class="main-table">
        <tr>
            <td class="left-menu">
                <a href="/Home/Page1">Акции</a><BR>
                <a href="/Home/Page1">Новинки</a><BR>
                <a href="/Home/Page1">Эксклюзивно</a><BR>
                <a href="/Home/Page1">Скидки месяца</a><BR>
            </td>
                @RenderBody()
            <td class="banners">

                <a href="https://rivegauche.ru/blog/tipy-i-sostojanija-kozhi">
                    <img src="~/img/man.webp" alt="Типы и состояния кожи">
                    <p>
                        <a href="https://rivegauche.ru/blog/tipy-i-sostojanija-kozhi">
                            <h2>Типы и состояния кожи</h2>
                            Вы наверняка знаете свой тип кожи. Но что делать, если нормальная кожа сильнее блестит, а на сухой возникают воспаления? Разбираемся в вопросе с врачом-дерматологом.
                    </p>
                </a>
                <p class="table-divider"></p>
                <BR><BR>

                <a href="https://rivegauche.ru/product/nina-ricci-nina-le-parfum-eau-de-parfum-30/?erid=LdtCKQUE6">
                    <img src="~/img/parfume.webp" alt="NINA LE PARFUM">
                    <p>
                        <a href="https://rivegauche.ru/product/nina-ricci-nina-le-parfum-eau-de-parfum-30/?erid=LdtCKQUE6">
                            <h2>NINA LE PARFUM</h2>
                            Не просто новая глава, а начало новой, блистательной эры для парфюмерной вселенной бренда Nina Ricci.
                            Фруктово-цветочная древесная парфюмерная вода с уникальным притягательным характером.
                            Полностью веганский аромат: не тестируется на животных и не содержит ингредиентов животного происхождения.
                    </p>
                </a>
                <p class="table-divider"></p>
                <BR><BR>
                <a href="https://rivegauche.ru/product/paco-rabanne-invictus-victory-elixir-parfum-intense-50/?erid=LdtCJzFGe">
                    <img src="~/img/flacons.webp" alt="INVICTUS VICTORY ELIXIR">
                    <p>
                        <a href="https://rivegauche.ru/product/paco-rabanne-invictus-victory-elixir-parfum-intense-50/?erid=LdtCJzFGe">
                            <h2>INVICTUS VICTORY ELIXIR</h2>
                            Новый триумфальный аромат для мужчин от Paco Rabanne
                            Новая парфюмерная вода для мужчин Invictus Victory Elixir – благородный амбровый древесно-пряный эликсир. Он сочетает в себе безупречность древесных нот, таинственность ладана, гурманскую сладость бобов тонка.
                            Аромат заключен во флакон в виде кубка, чтобы в очередной раз напомнить: ежедневное преодоление трудностей делает каждого из нас чемпионом.
                    </p>
                </a>

                <p class="table-divider"></p><BR><BR>
            </td>

        </tr>
        <table class="footer">
            <tr>
                <td>
                    &copy; 2023 Все права защищены
                </td>
            </tr>
        </table>
    </table>
</body>
</html>